/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOPO COM IMAGEM */
.topo img{
    width:100%;
    max-height:250px;
    object-fit:cover;
    display:block;
}

/* MENU PRINCIPAL */
.menu{
    background:#1e3a8a; /* azul */
    width:100%;
}

.menu ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ITENS PRINCIPAIS */
.menu ul li{
    position:relative;
}

.menu ul li a{
    display:block;
    padding:15px 25px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

/* HOVER MENU PRINCIPAL */
.menu ul li a:hover{
    background:#ff69b4; /* rosa */
}

/* ================= DROPDOWN ================= */

.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;

    background:#1e3a8a;
    min-width:220px;

    display:none;
    flex-direction:column;

    border-radius:0 0 8px 8px;
    overflow:hidden;

    opacity:0;
    transform:translateY(10px);
    transition:0.25s;
    pointer-events:none;
}

/* MOSTRAR DROPDOWN */
.dropdown.ativo > .dropdown-menu{
    display:flex;
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}

/* ITENS DO DROPDOWN */
.dropdown-menu li a{
    padding:12px 18px;
    font-size:14px;
}
