/* MENU PRINCIPAL */
.menu{
    background:var(--azul);
}

.menu ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:nowrap; /* impede quebrar linha */
}

/* Cada botão */
.menu ul li{
    position:relative;
    white-space:nowrap; /* impede quebrar texto */
}

/* Links */
.menu ul li a{
    display:block;
    padding:18px 28px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

/* Hover botão principal */
.menu ul li:hover > a{
    background:var(--rosa);
}

/* DROPDOWN ESCONDIDO */
.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    background:var(--rosa);
    display:none;
    min-width:230px;
    flex-direction:column;
    z-index:9999;
}

/* MOSTRAR DROPDOWN SOMENTE QUANDO ATIVO */
.dropdown.ativo > .dropdown-menu{
    display:flex;
}

/* ITENS DROPDOWN */
.dropdown-menu li{
    width:100%;
}

.dropdown-menu li a{
    padding:12px 18px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.2);
}

/* Hover itens dropdown */
.dropdown-menu li a:hover{
    background:white;
    color:var(--rosa);
}
