body {
font-family: Arial;
margin: 20px;
background: #fafafa;
}

header {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.card {
border: 1px solid #ddd;
padding: 15px;
margin: 10px;
background: white;
border-radius: 8px;
}

button {
padding: 10px;
background: #ff4081;
border: none;
color: white;
cursor: pointer;
border-radius: 5px;
}
