body{
font-family: Arial;
margin:0;
background:#dde5eb;
}

header{
background:#16b4bc;
padding:15px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.menu-drop{
position:relative;
}

.dropdown{
display:none;
position:absolute;
background:#dd5490;
padding:15px;
top:30px;
}

.menu-drop:hover .dropdown{
display:block;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:8px;
box-shadow:0 0 5px #ccc;
}

button{
background:#dd5490;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
border-radius:5px;
}
