/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CORES */
:root{
    --azul:#16b4bc;
    --rosa:#dd5490;
    --cinza:#dde5eb;
}

/* TOPO */
.topo img{
    width:100%;
    height:600px;
    object-fit:cover;
}

/* MENU */
.menu{
    background:var(--azul);
    position:sticky;
    top:0;
    z-index:9999;
}

/* LISTA MENU */
.menu ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:nowrap;
}

/* BOTÕES */
.menu ul li{
    position:relative;
    white-space:nowrap;
}

/* LINKS */
.menu ul li a{
    display:block;
    padding:18px 28px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

/* HOVER BOTÃO PRINCIPAL */
.menu ul li:hover > a{
    background:var(--rosa);
}

/* DROPDOWN */
.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    background:var(--rosa);
    display:none;
    min-width:230px;
    flex-direction:column;
    z-index:9999;
}

/* MOSTRAR DROPDOWN */
.dropdown.ativo > .dropdown-menu{
    display:flex;
}

/* ITENS DROPDOWN */
.dropdown-menu li{
    width:100%;
}

.dropdown-menu li a{
    padding:12px 18px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.2);
}

/* HOVER ITENS DROPDOWN */
.dropdown-menu li a:hover{
    background:white;
    color:var(--rosa);
}

/* INSTAGRAM */
.instagram{
    padding:40px;
    background:var(--cinza);
}
.container{
    padding:40px;
    max-width:900px;
    margin:auto;
}

.produto{
    background:#f5f5f5;
    padding:20px;
    margin-bottom:30px;
    border-radius:10px;
}

.produto input,
.produto select{
    display:block;
    margin:10px 0;
    padding:8px;
    width:200px;
}

.produto button{
    background:#dd5490;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:6px;
}
